<ion-header>
	<ion-navbar>
		<ion-title>Select  Options</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<ion-list radio-group [(ngModel)]="options.source">
		<ion-list-header>
			Source
		</ion-list-header>
		<ion-item>
			<ion-label>Basic Russian - Book One</ion-label>
			<ion-radio checked="true" value="book"></ion-radio>
		</ion-item>
	</ion-list>

	<ion-list radio-group *ngIf="units" [(ngModel)]="options.unit">
		<ion-list-header>
			Unit
		</ion-list-header>
		<ion-item >
			<ion-label>All ({{this.gv.getAllUnitLength()}} words)</ion-label>
			<ion-radio checked="true" value="all"></ion-radio>
		</ion-item>
		<ion-item *ngFor="let unit of units">
			<ion-label>{{unit.title + ' (' + this.gv.getUnitLength(unit.unit)}} words)</ion-label>
			<ion-radio checked="false" value="{{unit.unit}}"></ion-radio>
		</ion-item>
	</ion-list>

	<ion-list radio-group [(ngModel)]="options.questions">
		<ion-list-header>
			Number of Questions
		</ion-list-header>
		<ion-item >
			<ion-label>All</ion-label>
			<ion-radio checked="true" value="all"></ion-radio>
		</ion-item>
		<ion-item >
			<ion-label>10</ion-label>
			<ion-radio checked="false" value="10"></ion-radio>
		</ion-item>
		<ion-item >
			<ion-label>20</ion-label>
			<ion-radio checked="false" value="20"></ion-radio>
		</ion-item>
	</ion-list>

	<button ion-button block default (click)="dismiss()">
		<ion-label text-center>Submit</ion-label>
	</button>

</ion-content>
