<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>English to Russian Review</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item *ngFor="let word of words | slice:0:questionLimit" >
			{{word.russian}}<br />
			<span class="description">unit: {{word.unit}}</span>
			<div item-right>{{word.english}} <span *ngIf="word.gender">({{word.gender}})</span><span *ngIf="word.case" class="description"><br />case: {{word.case}}</span></div>
		</ion-item>
	</ion-list>
</ion-content>
